.errorPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 150%;
    color: #175200;
  }

  .errorText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 250%;
    color: black;
  }

  .code404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 800%;
    color: rgb(7, 75, 1);
    margin: 0;
  }

  .indexRedirect{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    color: black;
    text-decoration: underline;
  }

  @media (max-width: 850px) { 
    .errorText {
      font-size: 150%;
      margin: 0 0 5% 1%;
    }
  
    .code404 {
      font-size: 700%;
      margin: 0;
    }
  
    .indexRedirect{
      font-size: 90%;
    }
  }