@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  place-items: center;
  background: -webkit-linear-gradient( #4555b2, #42defa);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 99.5%;
  align-items: baseline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, #4555b2, #42defa);
  color: white;
}

.address{
  padding: 10px;
}

label {
  color: white;
  text-decoration: underline;
}

input, select {
  border-radius: 7px;
}

.userForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}