table {
  border-spacing: 0;
}

th{
    margin: 0;
    padding: 0 20px 0 20px;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px #001524 solid;
  }

   td {
    margin: 0;
    padding: 0.5rem;
    font-weight: normal;
  }

.userDisplay{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pagination, span{
  color:#001524;
}

.pagination button{
  background: -webkit-linear-gradient(left, #BA5300, #BA5300);
  color: #FFECD1;
}


thead{
 color: #001524;
 text-transform: uppercase;
}

tbody{
  color: black;
}

.showMore {
  width: 10%;
}

.tableRowPair {
  background-color: #f8e7d7;
}

.tableRowImpair {
  background-color: white;
}

.cell{

  padding:12px ;
}

.errMessage{
  text-align: center;
}